/* CSS untuk halaman formulir (form.html) */
body {
    font-family: Arial, sans-serif;
    background-color: #ED7D31;
    margin: 0;
    padding: 0;
    margin-bottom: 100px;
}

header {
    background-color: #333;
    color: #ED7D31;
    text-align: center;
    padding: 10px 0;
}

.logo {
    float: left;
    margin: 10px;
}

header h1 {
    margin: 0;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    background-color: #333;
    text-align: center;
}

nav li {
    display: inline;
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: #ED7D31;
}

main {
    padding: 20px;
}

.form{
    padding: 10px 0;
    margin-top: 50px;
    box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.05);
}
.form h1{
    font-size: 26px;
}
.pendaftaran{
    width: 95%;
}
.form table tr td{
    padding-bottom: 30px;
}
.label{
    width: 20%;
}
.in{
    width: 80%;
}
.input{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: #000 1px solid;
}
.submit{
    display: flex;
    justify-content: end;
}
.submit input{
    padding: 10px 20px;
    color: #fff;
    background-color: #0d6efd;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.submit input:hover{
    cursor: pointer;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
}
